<div class="header__search">
  <form class="form" action="/" method="POST">
    <input class="search" type="text" name="search" placeholder="Search for news" required>
    <input class="button" type="submit" value="Search">
  </form>
</div>